.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.page-link {
    color: #333;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}
.page-link.current {
    background-color: #333;
    color: #fff;
}
.page-link:hover {
    background-color: #333;
    color: #fff;
}
